# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# ESP-IDF
build/
sdkconfig
sdkconfig.old
managed_components/
dependencies.lock

# Editor / OS
.vscode/
.idea/
*.swp
.DS_Store

# Logs / artifacts
*.log
*.bin
*.elf
*.map
